@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down {
    display: none;
}

/* Back button without circle */
:root:not([uidensity="compact"]) #back-button {
    border-radius: unset !important;
    padding: 0 var(--toolbarbutton-outer-padding) !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
    background-color: unset !important;
    border: unset !important;
    padding: var(--toolbarbutton-inner-padding) !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
    width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

/* Hover and Active states to mimic other buttons */
:root:not([uidensity="compact"]) #back-button:hover:not([disabled]) > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-hover-background) !important;
}

:root:not([uidensity="compact"]) #back-button:active:not([disabled]) > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-active-background) !important;
}

/* indicators */
.private-browsing-indicator {display: none !important;}
.accessibility-indicator    {display: none !important;}

#context-sendpagetodevice, #context-sep-sendpagetodevice,
#context-sendlinktodevice, #context-sep-sendlinktodevice,
#context_sendTabToDevice, #context_sendTabToDevice_separator {
    display: none !important;
}



/* Compact findbar at the top of the window — Contributor(s): Madis0 */
.browserContainer > findbar {
    -moz-box-ordinal-group: 0;
    position: fixed !important;
    right: 1em;
    border: 1px solid threedshadow !important;
    border-bottom-right-radius: var(--toolbarbutton-border-radius);
    border-bottom-left-radius: var(--toolbarbutton-border-radius);
    padding-inline-start: 8px;
    background: var(--arrowpanel-background) !important;

    /* Hide the "border" at the top by removing the box-shadow and background-image */
    border-top: none !important;
    box-shadow: none !important;
    background-image: none !important;

    /* Uncomment to add a transition from the top */
    transition: var(--toolbarbutton-hover-transition-duration) !important;
    z-index: 0 !important;

}

/* Margin from top when hidden (necessary for the transition to work) */
findbar[hidden]{ margin-top: -4px !important; }

/* Aligns the close button to the center */
.findbar-closebutton {
    margin-inline-start: 0.5em !important;
    vertical-align: middle !important;
    margin-bottom: 0.25em !important;
    height: inherit !important;
}

spacer[part=arrowscrollbox-overflow-start-indicator],
spacer[part=arrowscrollbox-overflow-end-indicator] {
    width: 30px;
    background: linear-gradient(90deg, rgba(50,30,2,.2) 0% , rgba(50,30,20,.12) 20%, rgba(60,0,0,.01) 60%, transparent 100%) !important;
    border-left: none !important;
    pointer-events: none;
    position: relative;
    z-index: 3;
}


#tabbrowser-tabs {
    --tab-min-height: 29px !important;
    --tab-min-width: 60px !important;
}
